<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 2. "id에 바인딩을 진행하는데, uuid를 연결할 것" -->
      <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
      <p>{{ doubleNum }}</p>
      <!-- 3. v-if 활용-->
      <div v-if="loading">로딩중...</div>
      <div v-else>테스트 사용자가 로그인됨</div>
      <!-- 4. v-show 활용 -->
      <div v-show="loading">로딩중...</div>

      <!-- 5. v-model 활용, 👀 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보기 -->
      <input type="text" v-model="message" />
      <p>메세지: {{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      // 5. v-if와 v-show의 차이
      //    : v-if false시, DOM 완전 제거
      //    : v-show false시, display:none;(DOM의 정보는 남아있다.)
      new Vue({
        el: "#app",
        data: {
          num: 10,
          //   2. 특정 태그의 id 또는 클래스를 데이터에 관리하는 방법
          uuid: "abc1234",
          name: "text-blue",
          loading: true,
          message: "",
        },
        // 1. 데이터의 값에 따라 바뀌는 값을 적용 가능한 표현식, 추후 computed 코드 리팩토링 진행
        computed: {
          // 컴퓨티드: 이하 계산된 속성
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
<!-- 설명: 기존에 쿼리셀렉터로 쫓아가서 그 안에 있는 내용들은 바꿔줘야 했던 과거와 달리 현재, Vue에서 제공하는 문법을 활용해서 편하게 데이터만 조작했을 때 값이 바뀌는 Reactivity한 경험을 할 수 o -->
